/*responsive     */

/*clear fix for both nav and ul to clear things around when we float elements inside it*/

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
.clearfix {  
    *zoom: 1;  
}  

h2{
color: #177e82;
}

nav {  
    height: 40px;  
    width: 100%;  
    background: #4ba5aa;  
    font-size: 11pt;  
    font-family: 'PT Sans', Arial, sans-serif;  
    /*font-weight: bold;  */
    position: relative;  
   /* border-bottom: 2px solid #255255;  */
}  

/*navigation */

/*remove bullet points none type*/
nav ul {
    /*list-style-type: none; */ 
    padding: 0;
    margin: 0 auto;
   /* overflow: hidden; */
    width: 1200px; 
    height: 40px;
}


/*horizontal nav bar with equal spacing*/
nav li {
    display: inline;  /* remove line breaks */
     float: left;
}




nav a {
    display: inline-block; /*whole link clickable in a box, not just */
    width: 200px;  /* width of box math matters*/
    text-align: center;  
    text-decoration: none;  
    line-height: 40px;  
    /*text-shadow: 1px 1px 0px #283744;  */
    color: #ffe092; 
}



nav li a {  
    /*border-right: 1px solid white;  */
    box-sizing:border-box;  
    -moz-box-sizing:border-box;  
    -webkit-box-sizing:border-box;  
}  
nav li:last-child a {  
    border-right: 0;  
}  


/*link bar coloring */
/* a:link, a:visited {
    display: block;
    width: 220px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4ba5aa;
    text-align: center;
    padding: 4px;
    text-decoration: none;
   /* text-transform: uppercase; 
} */

nav a:hover, nav a:active {
   /* background-color: #a5d2d4; */
   color: #963613;
   font-weight:bold; 
}


nav a#pull {  
    display: none;  
}  



/* medium */
@media screen and (max-width: 1200px) {  
    nav {   
        height: auto;  
    }  
    nav ul {  
        width: 100%;  
        display: block;  
        height: auto;  
    }  
    nav li {  
        width: 50%;  
        float: left;  
        position: relative;  
    }  
    nav li a {  
        border-bottom: 1px solid white;  
        border-right: 1px solid white;  
    }  
    nav a {  
        text-align: left;  
        width: 100%;  
        text-indent: 25px;  
    }  
}  


/* phone */
@media only screen and (max-width : 480px) {  
    nav {  
        border-bottom: 0;  
    }  
    nav ul {  
        display: none;  
        height: auto;  
    }  
    nav a#pull {  
        display: block;  
        background-color: #177e82;  
        width: 100%;  
        position: relative;  
    }  
    nav a#pull:after {  
        content:"";  
        background: url('nav-icon.png') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        rightright: 15px;  
        top: 10px;  
    }  
}  


/*very small */
@media only screen and (max-width : 320px) {  
    nav li {  
        display: block;  
        float: none;  
        width: 100%;  
    }  
    nav li a {  
        border-bottom: 1px solid white;  
    }  
}  


/*images*/


/*cwl header*/
 .responsive-image-head{
        height:auto;
        width:100%;
        max-width: 600px;
    }
    
    
    
    /* footer */
    
 .site-footer p {
 margin-bottom: 0px;
 }
 
 
 .site-footer {
	background-color: #fff;
	font-size: 16px;
	line-height: 1;
	padding: 40px 0;
	text-align: center;
}


/*main links */

a {
color: rgb(231, 76, 60);
text-decoration: none;
}

a:hover{
color:#ff9872

}